.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1,h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  h2 {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 26px;
  }

  .edit-form-h2{
    margin-bottom: 20px;
  }
  
  .intern-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjust the item width as needed */
    grid-gap: 5px;
    justify-items: center;
  }
  
  .intern-card {
    padding: 20px;
  }
  
  .intern-card img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }

  .intern-details {
    margin-top: 15px;
  }
  
  .intern-id {
    display: block;
    color: #999;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .intern-name {
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
  
  .text-explanation {
    color: #666;
    margin-top: 10px;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  #searchInput {
    width: 100%;
    padding: 12px 20px;
    padding-right: 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #f4f4f4;
    color: #333;
    margin-top: 20px;
  }
  
  #searchInput:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-icon {
    position: absolute;
    right: 20px;
    top: 65%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .intern-item {
    width: 100%; /* Occupy the available space within the grid cell */
    max-width: 120px; /* Adjust the max-width to limit the item size */
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .intern-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  .edit-form {
    display: block;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  #imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #imagePreviewContainer {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 10px;
  }
  
  #uploadLabel {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  #uploadLabel input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  #imagePreview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
  }
  
  #imagePreviewContainer:hover .imageOverlay {
    opacity: 1;
  }
  
  #removeImage {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #999;
    font-size: 16px;
  }
  
  #removeImage:hover {
    color: #f00;
  }
  
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-row {
    flex-basis: calc(50% - 10px);
    margin-bottom: 15px;
  }
  
  .form-row label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-row input[type="text"], .form-row input[type="date"], .form-row input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-row input[type="text"]:focus, .form-row input[type="date"]:focus, .form-row input[type="number"]:focus {
    background-color: #fff;
    outline: none; /* Remove the default outline */
    box-shadow: none; /* Remove the default box-shadow */
    border: 1px solid #ccc;
  }
  
  .uploadLabel {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  .uploadLabel:hover {
    background-color: #f0f0f0;
  }
  
  .uploadBtn {
    display: none;
  }
  
  .uploadInfo {
    color: #777;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .buttons button {
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .buttons button.saveBtn {
    background-color: #45aaf2;
    color: #fff;
    border: none;
    margin-right: 10px;
  }
  
  .buttons button.saveBtn:hover {
    background-color: #2d8fb9;
  }
  
  .buttons button.cancelBtn {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
  }
  
  .buttons button.cancelBtn:hover {
    background-color: #f0f0f0;
  }
  
  .uploadLabelContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .uploadLabelContainer label {
    margin-right: 10px;
  }
  
  .uploadLabelContainer .uploadLabel {
    padding: 8px 16px;
  }

  .error-message, .success-message {
    color: #ff4d4f;
    font-size: 12px;
    text-align: center;
  }

  .success-message {
    color: green;
  }

  .intern-item.selected {
    box-shadow: none;
    opacity: 0.5;
    border: 2px solid rgba(51, 51, 51, 0.2);
  }
  
  .intern-item.selected:hover {
    transform: none;
    box-shadow: none;
  }

  .delete-icon {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff4444;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 999;
}

.delete-icon:hover {
    background-color: #cc0000;
}

.delete-icon i {
    font-size: 18px;
}

.delete-icon:after {
    content: attr(title);
    position: absolute;
    bottom: 50px;
    right: 0;
    display: none;
    background-color: #fff;
    color: #333;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    width: 200px;
}

.delete-icon:hover:after {
    display: block;
}